.pseu-ele::selection{
    background-color: fuchsia;
}

/*
agrupacion de selectores
*/

.nav,.main,.foo{
    display: flex;
    justify-content: center;
}
/*
La Cascada es el mecanismo en que el navegador aplica los estilos. Y toma en cuenta lo siguiente en este orden:
  1) El Origen del Código:
    - El User Agent (los estilos por defecto del navegador)
    - Personalizaciones del usuario.
    - Los estilos del autor.
  2) La Especificidad del Selector
  3) Orden de Aparición
*/

h1{
    background-color: blueviolet;
}